<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="nowrap">
<!--      <a class="particles-icon" href="https://www.facebook.com/">{% include svg/facebook.svg %}</a>-->
      <a class="particles-icon" href="https://twitter.com/pgrenn">{% include svg/twitter.svg %}</a>
<!--      <a class="particles-icon" href="https://www.instagram.com/">{% include svg/instagram.svg %}</a>-->
      <a class="particles-icon" href="https://www.linkedin.com/in/patrickgrenning/">{% include svg/linkedin.svg %}</a>
<!--      <a class="particles-icon" href="https://stackoverflow.com/">{% include svg/stackoverflow.svg %}</a>-->
      <a class="particles-icon" href="https://github.com/pgrennin">{% include svg/github.svg %}</a>
      <a class="particles-icon" href="https://github.com/pgrennin/patrick_grenning_resume/blob/master/examples/patrick_grenning_resume.pdf">{% include svg/cv-circled.svg %}</a>
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
